h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
address{
    font-style: normal;
}
.link{
    text-decoration: none;
    color: inherit;
}
.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

/*------Variables*/
:root{
    --color-texto-principal: #212121; 
    --color-texto-secundario: #2196F3;
    --color-texto-terceario: #FFFFFF;
    --background-color-principal: #2196F3;
}

body{
    color: var(--color-texto-principal);
    background-color: var(--color-texto-terceario);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
}

/* ----header----*/

/* Enlace Webstudio*/

.principal-link{
    color: var(--color-texto-secundario);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-align: right;
    text-decoration: none;
    top: 24px;
}

/* links header*/

.link-study{
    color: var(--color-texto-secundario);
    font-family: "Roboto";
    font-weight: 500;
    line-height: 0.86;
    text-align: left;
    letter-spacing: 0.02em;
    text-decoration: none;  
}
.link-study:hover,
.link-study:focus{
    color: var(--color-texto-principal);
}

.link-portfolio{
    color: var(--color-texto-secundario);
    font-family: "Roboto";
    font-weight: 500;
    line-height: 0.86;
    text-align: left;
    letter-spacing:0.02em;
    text-decoration: none;
}
.link-portfolio:hover,
.link-portfolio:focus{
    color: var(--color-texto-secundario);
}

.link{
    color: var(--color-texto-principal);
    font-family: "Roboto";
    font-weight: 500;
    line-height: 0.86;
    text-align: left;
    letter-spacing:0.02em;
    text-decoration: none;
}
.link:hover,
.link:focus{
    color: var(--color-texto-secundario);
}

.link-header{
    color: #757575;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 0.86;
    text-align: left;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.link-header:hover,
.link-header:focus{
    color: var(--color-texto-secundario);
}


.header-number-contact{
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    line-height: 1.71;
    text-align: left;
    text-decoration: none;
}
.header-number-contact:hover,
.header-number-contact:focus{
    color: var(--color-texto-secundario); 
}
    

/*--------main-------*/
/*--Titulo Principal--*/
.section-title{
    color: var(--color-texto-terceario);
    background-color: #2F303A;
}

.principal-title{
    color: var(--color-texto-terceario);
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}


/* Botones - main*/ 

.principal-button{
    color: var(--color-texto-terceario);
    background-color: var(--background-color-principal);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: 0; 
    cursor: pointer;
    text-align: center;
    margin: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    width: 261px;
    height: 50px;
    left: 666px;
    top: 430px;
}
.principal-button:hover, 
.principal-button:focus{
    color: var(--color-texto-principal);
}

.button-portfolio{
    color: var(--color-texto-terceario);
    background-color: var(--background-color-principal);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.62;
    border: 0;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
}

.button-portfolio:hover, 
.button-portfolio:focus{
    color: var(--color-texto-principal);
}

.button{
    color: var(--color-texto-principal);
    background-color: #F5F4FA;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.62;
    border: 0;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
}
.button:hover,
.button:focus{
    color: var(--color-texto-terceario);
    background-color: var(--background-color-principal);
}


/*----Sección de beneficios y servicios---*/

.title{
    color: var(--color-texto-principal);
    font-weight: 700;
    text-align: left;
    line-height: 1.14;
}
.paragraph{
    color: #757575;
    font-weight: 400;
    line-height: 1.71;
    text-align: left;
}
.list-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 60px;
}

.list-addres{
    list-style: none;
    display: block;
}
.title-service{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.seccion-team{
    background-color: #F5F4FA;
}

.h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin: 20px;
}
.paragraph-second{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}

/* ----- footer----*/

 .footer{
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2158px;
    color: var(--color-texto-terceario);
    background-color: #2F303A; 
}

.address{
    width: 231px;
    height: 92px;
    left: 215px;
    top: 2258px;
}

.link-study-footer{
    color: var(--color-texto-secundario);
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.dir{
    color: #FFFFFF;
    font-weight: 400;
    line-height: 1.71;
    text-align: left;
}

.footer-link{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
}

.footer-link:hover, 
.footer-link:focus{
    color: var(--color-texto-secundario)
}

.footer-number-contact{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
}
.footer-number-contact:hover, 
.footer-number-contact:focus{
    color: var(--color-texto-secundario);
}


/*---portfolio---*/
.title-h3{
    color:var(--color-texto-principal);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-align: Left;
    letter-spacing: 0.06;
}
.paragraph-portfolio{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    text-align: Left;
}

/*----contenedor---*/
.container { 
    width: 1200px; 
    padding-left: 15px; 
    padding-right: 15px; 
    margin:0 auto; 
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}


/* ---flex box---*/

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-nav{
    display: flex; 
}

.container-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-service{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    gap: 30px;

}

.team-service{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    gap: 30px;
    padding-bottom: 30px;
}

.container-footer{
    display: block;
    padding-top: 50px;

}